.signup {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(/img/signup.png); filter: brightness(90%);
}

@media (max-width: 768px) {
    .signup {
        width: 100%;
        height: auto;
    }
}