.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    color:white;
    font-size:larger;
}

.body .title {
    font-size: 2rem;
    color: whitesmoke;
    margin-bottom: 20px;
}

.body .title .writeup {
    font-size:x-large;
}